@model Quotes.Models.Quote
@{
    ViewBag.Title = "View";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="contain" class="contain">
    <div id="writer">
        <h1>@Model.QuoteString</h1>
    </div>
</div>
