@model Quotes.Models.Quote
@{
    ViewBag.Title = "View";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="contain">
    <div class="executed" id="quote">
    </div>
    <div id="writer">
        <h1>@Model.QuoteString</h1>
    </div>
    <div class="bottom">
        <h2> press space to inspire </h2>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
<script src="app.js"></script>
