html, body {
    	height: 100%;
		margin: 0px;
	}

body {    
    background: #4CAF50;
    padding-top: 50px;
    /*padding-bottom: 20px;*/
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


/****************************************************************************************************************/


.navbar-inverse{
    background-color: #ecf0f1 !important;
    border-color: #ecf0f1 !important;
}

.navbar a {
    color: #7f8c8d !important;
    text-decoration: none;
    
}

.navbar-brand, .nav li a{
    padding-bottom: 5px !important;
}

/*.navbar a:hover {
    color: #1f253d !important;
    border-bottom: 5px solid #a9c32a;
}*/

.navbar-toggle{
    background-color: #7f8c8d;
}

.navbar-inverse .navbar-toggle{
    border-color: transparent;
}

/****************************************************************************************************************/

#main-contain{
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
    width: 74%;
    height: 90%;
}

h1{
    font-family: 'Roboto', sans-serif !important;
}

#contain{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    width: 100%;
}

#writer{
    text-transform:capitalize;
    color: #FFFFFF;
}

/*TODO Corregir esto en pantallas pequeñas*/
.navbar-brand{
    text-overflow: ellipsis; 
}