body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


/****************************************************************************************************************/

/* main container css */
.contain{
display:table-cell;
vertical-align: middle;
text-align: center;
padding:3em;
}

/* quote css */
#quote{
color:white;
font-family : Inconsolata;
position: relative;
}

/* source css */
#writer{
opacity:1;
font-size: 1em;
padding-right:2em;
text-align: right;
color:black;
font-family : Inconsolata;
position: relative;
-webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
}

/* for the after stage of the source */
.fade {
opacity:0 !important;
}

/* for the after stage of the quote.*/
.executed {
opacity:1;
right: 0;
-webkit-transition: all 2s ease-in-out;
    -moz-transition: all 2s ease-in-out;
    -o-transition: all 2s ease-in-out;
    transition: all 2s ease-in-out;
}

/* for the before stage of the quote; should slide right when presented and left when removed.  */
.reset {
opacity:0;
right:600px;
-webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
}

/* for the instructions at the bottom */
.bottom {
bottom:10px;
position: absolute;
color:#454545;
font-family:Inconsolata;
}